workflows/churn-risk-monitor.json

{
  "name": "Churn Risk Monitor",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "churn-risk-monitor",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "gemini-1.5-flash", "mode": "list" },
        "prompt": "=Analyze the recent activity for this client.\nLast 3 Messages: {{$json.body.recentActivity}}\n\nTask:\n1. Rate Sentiment (0=Angry, 10=Happy).\n2. Identify if they mentioned \"other agents\", \"slow\", \"unhappy\", or \"cancel\".\n\nOutput JSON: { \"sentiment_score\": 4, \"flags\": [\"complaint_about_speed\"] }",
        "options": {}
      },
      "name": "Analyze Sentiment",
      "type": "n8n-nodes-base.googleGeminiChat",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": { "googlePalmApi": { "id": "YOUR_CREDENTIAL_ID", "name": "Google Gemini" } }
    },
    {
      "parameters": {
        "jsCode": "let score = 0;\n// Velocity Logic: Check days since login (simulated)\nconst daysSinceLogin = 12;\nif (daysSinceLogin > 10) score += 30;\n\n// Sentiment Logic\nconst sentiment = $node[\"Analyze Sentiment\"].json.output.sentiment_score;\nif (sentiment < 5) score += 40;\n\n// Flag Logic\nconst flags = $node[\"Analyze Sentiment\"].json.output.flags;\nif (flags && flags.length > 0) score += 50;\n\nreturn { risk_score: Math.min(score, 100), reason: flags.join(', ') };"
      },
      "name": "Calculate Risk Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.risk_score}}",
              "operation": "larger",
              "value2": 70
            }
          ]
        }
      },
      "name": "Risk Filter",
      "type": "n8n-nodes-base.filter",
      "typeVersion": 1,
      "position": [850, 300]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "gemini-1.5-pro", "mode": "list" },
        "prompt": "=Context: Client Risk Score is {{$json.risk_score}}. Reason: {{$json.reason}}.\n\nWrite a short, empathetic SMS script for the agent to send. Do not sound robotic. Address the specific concern.",
        "options": {}
      },
      "name": "Generate Retention Script",
      "type": "n8n-nodes-base.googleGeminiChat",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": { "googlePalmApi": { "id": "YOUR_CREDENTIAL_ID", "name": "Google Gemini" } }
    },
    {
      "parameters": {
        "message": "=⚠️ SAVE CLIENT: Lead {{$node[\"Webhook\"].json.body.clientId}} is drifting.\nRisk Score: {{$node[\"Calculate Risk Score\"].json.risk_score}}\nSuggested Script: {{$json.output}}",
        "channel": "broker-alerts"
      },
      "name": "Slack Alert",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": { "slackApi": { "id": "YOUR_SLACK_ID", "name": "Slack" } }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Analyze Sentiment", "type": "main", "index": 0 }]] },
    "Analyze Sentiment": { "main": [[{ "node": "Calculate Risk Score", "type": "main", "index": 0 }]] },
    "Calculate Risk Score": { "main": [[{ "node": "Risk Filter", "type": "main", "index": 0 }]] },
    "Risk Filter": { "main": [[{ "node": "Generate Retention Script", "type": "main", "index": 0 }]] },
    "Generate Retention Script": { "main": [[{ "node": "Slack Alert", "type": "main", "index": 0 }]] }
  }
}
