workflows/closing-coordination-orchestrator.json

{
  "name": "Closing Coordination Orchestrator (Workflow 152)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "days",
              "secondsInterval": 1
            }
          ]
        }
      },
      "name": "Cron: 7 Days Before",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [100, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "baseId": "appYOURBASEID",
        "table": "Transactions",
        "options": {
          "filterByFormula": "DATETIME_DIFF({Closing_Date}, TODAY(), 'days') = 7"
        }
      },
      "name": "Airtable: Find Upcoming Closings",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [300, 300],
      "credentials": { "airtableApi": { "id": "YOUR_AIRTABLE_ID", "name": "Airtable" } }
    },
    {
      "parameters": {
        "fromEmail": "concierge@nexus-os.com",
        "toEmail": "={{$json.fields.Client_Email}}",
        "subject": "Moving Day Guide: Your Utilities & Closing Timeline",
        "text": "=Hi {{$json.fields.Client_Name}},\n\nWe are 7 days from closing! Please use the link below to transfer utilities for {{$json.fields.Address}}.\n\nLink: https://nexus-os.com/closing-dashboard?dealId={{$json.id}}"
      },
      "name": "SendGrid: Utility Concierge",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [500, 200],
      "credentials": { "smtp": { "id": "YOUR_SENDGRID_ID", "name": "SendGrid" } }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-flash-preview",
          "mode": "list"
        },
        "prompt": "=Draft a professional email proposing a Final Walkthrough for {{$node[\"Airtable: Find Upcoming Closings\"].json.fields.Address}}.\nClosing Date: {{$node[\"Airtable: Find Upcoming Closings\"].json.fields.Closing_Date}}.\nProposal Date: [Closing Date - 1 day] @ 4:00 PM.\nRecipients: Buyer Agent & Seller Agent.",
        "options": {}
      },
      "name": "Gemini: Walkthrough Scheduler",
      "type": "n8n-nodes-base.googleGeminiChat",
      "typeVersion": 1,
      "position": [500, 400],
      "credentials": { "googlePalmApi": { "id": "YOUR_CREDENTIAL_ID", "name": "Google Gemini" } }
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$node[\"Airtable: Find Upcoming Closings\"].json.fields.Possession_Terms}}",
        "rules": {
          "rules": [
            { "value2": "At Closing", "output": 0 },
            { "value2": "Post-Closing", "output": 1 }
          ]
        }
      },
      "name": "Switch: Possession Logic",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [700, 400]
    },
    {
      "parameters": {
        "message": "=🔑 KEY EXCHANGE REMINDER: Possession is 'At Closing'. Please ensure all keys and remotes are brought to the title company table for {{$node[\"Airtable: Find Upcoming Closings\"].json.fields.Address}}.",
        "channel": "agent-closing-alerts"
      },
      "name": "Slack: Key Handoff Reminder",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2,
      "position": [900, 350],
      "credentials": { "slackApi": { "id": "YOUR_SLACK_ID", "name": "Slack" } }
    }
  ],
  "connections": {
    "Cron: 7 Days Before": { "main": [[{ "node": "Airtable: Find Upcoming Closings", "type": "main", "index": 0 }]] },
    "Airtable: Find Upcoming Closings": { "main": [[{ "node": "SendGrid: Utility Concierge", "type": "main", "index": 0 }, { "node": "Gemini: Walkthrough Scheduler", "type": "main", "index": 0 }]] },
    "Gemini: Walkthrough Scheduler": { "main": [[{ "node": "Switch: Possession Logic", "type": "main", "index": 0 }]] },
    "Switch: Possession Logic": { "main": [[{ "node": "Slack: Key Handoff Reminder", "type": "main", "index": 0 }], []] }
  }
}
