workflows/closing-sequence.json

{
  "name": "Trigger Closing Sequence",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-closing-sequence",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "return [\n  { json: { task: 'Order Final Water Read', due: '7 days before' } },\n  { json: { task: 'Schedule Final Walkthrough', due: '3 days before' } },\n  { json: { task: 'Verify Wire Instructions', due: '2 days before' } },\n  { json: { task: 'Order Closing Gift', due: '1 day before' } }\n];"
      },
      "name": "Define Tasks",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "operation": "create",
        "baseId": "appYOURBASEID",
        "table": "Tasks",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Task Name": "={{$json.task}}",
            "Related Deal": "={{$node[\"Webhook\"].json.body.transactionId}}",
            "Status": "Pending",
            "Due Date Strategy": "={{$json.due}}"
          }
        }
      },
      "name": "Create Tasks in Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": { "airtableApi": { "id": "YOUR_AIRTABLE_ID", "name": "Airtable Account" } }
    },
    {
      "parameters": {
        "fromEmail": "admin@nexus-os.com",
        "toEmail": "agent@nexus-os.com",
        "subject": "Closing Sequence Initiated",
        "text": "The closing sequence has been triggered. 4 Tasks have been added to your queue."
      },
      "name": "Notify Agent",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [850, 300],
      "credentials": { "smtp": { "id": "YOUR_SMTP_ID", "name": "SMTP Account" } }
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "Define Tasks", "type": "main", "index": 0 }]] },
    "Define Tasks": { "main": [[{ "node": "Create Tasks in Airtable", "type": "main", "index": 0 }]] },
    "Create Tasks in Airtable": { "main": [[{ "node": "Notify Agent", "type": "main", "index": 0 }]] }
  }
}
