workflows/document-storage-logic.json

{
  "name": "AI Auto-Filing Clerk (Workflow 149)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-auto-file",
        "options": {}
      },
      "name": "File Upload Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-flash-preview",
          "mode": "list"
        },
        "prompt": "=Identify the real estate document type for this file: {{$node[\"File Upload Webhook\"].json.body.fileName}}.\n\nTask:\n1. Extract Property Address.\n2. Classify Type: Contract, Disclosure, Inspection, Closing, or Marketing.\n3. Identify Privacy: If it's a Closing Statement or Final Agreement, set to 'Client-Shared'. Otherwise 'Internal'.\n4. Output Suggested Filename in format: YYYY-MM-DD_[Type]_[Address].pdf\n\nReturn JSON: { \"type\": \"string\", \"address\": \"string\", \"privacy\": \"string\", \"canonicalName\": \"string\" }",
        "options": {}
      },
      "name": "Gemini Flash: Filing Clerk",
      "type": "n8n-nodes-base.googleGeminiChat",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": { "googlePalmApi": { "id": "YOUR_CREDENTIAL_ID", "name": "Google Gemini" } }
    },
    {
      "parameters": {
        "operation": "search",
        "q": "=name = '{{$node[\"Gemini Flash: Filing Clerk\"].json.output.address}}' and mimeType = 'application/vnd.google-apps.folder'",
        "options": {}
      },
      "name": "Drive: Folder Lookup",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [650, 300],
      "credentials": { "googleDriveOAuth2Api": { "id": "YOUR_DRIVE_ID", "name": "Google Drive" } }
    },
    {
      "parameters": {
        "resource": "folder",
        "name": "={{$node[\"Gemini Flash: Filing Clerk\"].json.output.address}}",
        "options": {}
      },
      "name": "Drive: Create Deal Folder",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [850, 400],
      "credentials": { "googleDriveOAuth2Api": { "id": "YOUR_DRIVE_ID", "name": "Google Drive" } }
    },
    {
      "parameters": {
        "fileContent": "={{$node[\"File Upload Webhook\"].json.body.binaryData}}",
        "fileName": "={{$node[\"Gemini Flash: Filing Clerk\"].json.output.canonicalName}}",
        "parentId": "={{$node[\"Drive: Folder Lookup\"].json.id || $node[\"Drive: Create Deal Folder\"].json.id}}"
      },
      "name": "Drive: Upload & File",
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [1050, 300],
      "credentials": { "googleDriveOAuth2Api": { "id": "YOUR_DRIVE_ID", "name": "Google Drive" } }
    },
    {
      "parameters": {
        "operation": "create",
        "baseId": "appYOURBASEID",
        "table": "Document_Registry",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "File_Name_Canonical": "={{$node[\"Gemini Flash: Filing Clerk\"].json.output.canonicalName}}",
            "Drive_Link": "={{$json.webViewLink}}",
            "Doc_Type": "={{$node[\"Gemini Flash: Filing Clerk\"].json.output.type}}",
            "Privacy_Level": "={{$node[\"Gemini Flash: Filing Clerk\"].json.output.privacy}}",
            "Deal_ID": "={{$node[\"File Upload Webhook\"].json.body.dealId}}"
          }
        }
      },
      "name": "Airtable: Log Registry",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [1250, 300],
      "credentials": { "airtableApi": { "id": "YOUR_AIRTABLE_ID", "name": "Airtable" } }
    }
  ],
  "connections": {
    "File Upload Webhook": { "main": [[{ "node": "Gemini Flash: Filing Clerk", "type": "main", "index": 0 }]] },
    "Gemini Flash: Filing Clerk": { "main": [[{ "node": "Drive: Folder Lookup", "type": "main", "index": 0 }]] },
    "Drive: Folder Lookup": {
      "main": [
        [{ "node": "Drive: Upload & File", "type": "main", "index": 0 }],
        [{ "node": "Drive: Create Deal Folder", "type": "main", "index": 0 }]
      ]
    },
    "Drive: Create Deal Folder": { "main": [[{ "node": "Drive: Upload & File", "type": "main", "index": 0 }]] },
    "Drive: Upload & File": { "main": [[{ "node": "Airtable: Log Registry", "type": "main", "index": 0 }]] }
  }
}
