workflows/lender-referral.json

{
  "name": "Intelligent Lender Referral (Workflow 7)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-lender-referral",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "const budget = $json.body.budget || 0;\n// Logic from PDF Workflow 7 Node 2\n// Select lender based on Lead Budget\nlet lender = \"Standard Mortgage LLC\";\nlet lenderEmail = \"referrals@standardmortgage.com\";\n\nif (budget > 1000000) {\n  lender = \"Luxury Lending Co\";\n  lenderEmail = \"vip@luxurylending.com\";\n}\n\nreturn { lender, lenderEmail };"
      },
      "name": "Select Lender Logic",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "fromEmail": "={{$node[\"Webhook\"].json.body.agentEmail}}",
        "toEmail": "={{$node[\"Webhook\"].json.body.leadEmail}}, {{$json.lenderEmail}}",
        "ccEmail": "={{$node[\"Webhook\"].json.body.agentEmail}}",
        "subject": "Intro: {{$node[\"Webhook\"].json.body.leadName}} <> {{$json.lender}}",
        "text": "=Hi {{$node[\"Webhook\"].json.body.leadName}},\n\nI'm connecting you with {{$json.lender}} (CC'd), who is the best next step for your pre-approval. I've worked with them on many deals and they are excellent at handling {{$node[\"Webhook\"].json.body.notes || 'transactions like yours'}}.\n\n{{$json.lender}}, please take good care of {{$node[\"Webhook\"].json.body.leadName}}!\n\nBest,\n{{$node[\"Webhook\"].json.body.agentName}}"
      },
      "name": "3-Way Intro Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [650, 300],
      "credentials": { "smtp": { "id": "YOUR_SMTP_ID", "name": "SMTP Account" } }
    },
    {
      "parameters": {
        "operation": "update",
        "baseId": "appYOURBASEID",
        "table": "Deals",
        "id": "={{$node[\"Webhook\"].json.body.leadId}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Stage": "Financing",
            "Assigned_Lender": "={{$node[\"Select Lender Logic\"].json.lender}}",
            "Lender_Referral_Status": "Sent"
          }
        }
      },
      "name": "Update CRM",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": { "airtableApi": { "id": "YOUR_AIRTABLE_ID", "name": "Airtable Account" } }
    }
  ],
  "connections": {
    "Webhook": {
      "main": [[{ "node": "Select Lender Logic", "type": "main", "index": 0 }]]
    },
    "Select Lender Logic": {
      "main": [[{ "node": "3-Way Intro Email", "type": "main", "index": 0 }]]
    },
    "3-Way Intro Email": {
      "main": [[{ "node": "Update CRM", "type": "main", "index": 0 }]]
    }
  }
}
