workflows/listing-compliance.json

{
  "name": "Listing Compliance Sentinel",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "check-listing-compliance",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "modelId": { "__rl": true, "value": "gemini-1.5-pro", "mode": "list" },
        "prompt": "=You are a Real Estate Compliance Officer. Review this listing description for US Fair Housing violations (race, religion, sex, handicap, familial status).\n\nDescription: {{$json.body.description}}\n\nAlso check if Price per SqFt (${{$json.body.price}} / {{$json.body.sqft}}) is reasonable for Zip {{$json.body.zip}}.\n\nReturn JSON: { \"is_compliant\": boolean, \"issues\": [], \"risk_score\": 1-10 }",
        "options": {}
      },
      "name": "AI Auditor",
      "type": "n8n-nodes-base.googleGeminiChat",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": { "googlePalmApi": { "id": "YOUR_CREDENTIAL_ID", "name": "Google Gemini" } }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json.output}}",
        "options": {}
      },
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [650, 300]
    }
  ],
  "connections": {
    "Webhook": { "main": [[{ "node": "AI Auditor", "type": "main", "index": 0 }]] },
    "AI Auditor": { "main": [[{ "node": "Return Result", "type": "main", "index": 0 }]] }
  }
}
