workflows/loan-status-sync.json

{
  "name": "Lender Status Sync (Workflow 151)",
  "nodes": [
    {
      "parameters": {
        "filters": {
          "q": "label:INBOX subject:\"Update regarding your property\""
        }
      },
      "name": "Gmail: Watch Lender Comms",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2,
      "position": [250, 300],
      "credentials": { "gmailOAuth2Api": { "id": "YOUR_GMAIL_ID", "name": "Gmail Account" } }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-pro-preview",
          "mode": "list"
        },
        "prompt": "=Analyze this email from a mortgage lender: '{{$json.body.text}}'.\n\nTask:\n1. Determine current Loan Status (Application, Processing, Underwriting, Approved, CTC, Funded).\n2. Are there outstanding conditions? (True/False)\n3. Write a concise 1-sentence agent briefing.\n4. Extract property address.\n\nReturn JSON: { \"status\": \"string\", \"conditions\": boolean, \"briefing\": \"string\", \"address\": \"string\" }",
        "options": {}
      },
      "name": "Gemini Pro: Extract Status",
      "type": "n8n-nodes-base.googleGeminiChat",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": { "googlePalmApi": { "id": "YOUR_CREDENTIAL_ID", "name": "Google Gemini" } }
    },
    {
      "parameters": {
        "operation": "list",
        "baseId": "appYOURBASEID",
        "table": "Transactions",
        "options": {
          "filterByFormula": "={Address}='{{$node[\"Gemini Pro: Extract Status\"].json.output.address}}'"
        }
      },
      "name": "Airtable: Find Deal",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": { "airtableApi": { "id": "YOUR_AIRTABLE_ID", "name": "Airtable Account" } }
    },
    {
      "parameters": {
        "operation": "update",
        "baseId": "appYOURBASEID",
        "table": "Financing_Log",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Deal_ID": "={{$node[\"Airtable: Find Deal\"].json.id}}",
            "Loan_Stage": "={{$node[\"Gemini Pro: Extract Status\"].json.output.status}}",
            "Last_Update_Raw": "={{$node[\"Gemini Pro: Extract Status\"].json.output.briefing}}",
            "Conditions_Remaining": "={{$node[\"Gemini Pro: Extract Status\"].json.output.conditions}}"
          }
        }
      },
      "name": "Airtable: Update Finance Log",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": { "airtableApi": { "id": "YOUR_AIRTABLE_ID", "name": "Airtable Account" } }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Gemini Pro: Extract Status\"].json.output.status}}",
              "operation": "equal",
              "value2": "CTC"
            }
          ]
        }
      },
      "name": "If Clear to Close",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "from": "+15550001234",
        "to": "={{$node[\"Airtable: Find Deal\"].json.fields.Client_Phone}}",
        "message": "=Big News! We are Clear to Close on {{$node[\"Gemini Pro: Extract Status\"].json.output.address}}. Your agent will be in touch to schedule signing now! 🚀"
      },
      "name": "Twilio: Celebration SMS",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": { "twilioApi": { "id": "YOUR_TWILIO_ID", "name": "Twilio Account" } }
    }
  ],
  "connections": {
    "Gmail: Watch Lender Comms": { "main": [[{ "node": "Gemini Pro: Extract Status", "type": "main", "index": 0 }]] },
    "Gemini Pro: Extract Status": { "main": [[{ "node": "Airtable: Find Deal", "type": "main", "index": 0 }]] },
    "Airtable: Find Deal": { "main": [[{ "node": "Airtable: Update Finance Log", "type": "main", "index": 0 }]] },
    "Airtable: Update Finance Log": { "main": [[{ "node": "If Clear to Close", "type": "main", "index": 0 }]] },
    "If Clear to Close": { "main": [[{ "node": "Twilio: Celebration SMS", "type": "main", "index": 0 }]] }
  }
}
