workflows/no-show-recovery.json

{
  "name": "No-Show Recovery Protocol (Workflow 128)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-no-show-recovery",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "from": "+15550001234",
        "to": "={{$json.body.leadPhone}}",
        "message": "=Hi {{$json.body.leadName}}, {{$json.body.agentName}} here. I'm at the property ({{$json.body.address}}). Hope everything is okay! Let me know if you're running late or need to reschedule."
      },
      "name": "Twilio: Everything Okay?",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": { "twilioApi": { "id": "YOUR_TWILIO_ID", "name": "Twilio Account" } }
    },
    {
      "parameters": {
        "amount": 30,
        "unit": "minutes"
      },
      "name": "Wait 30 Mins",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "operation": "list",
        "baseId": "appYOURBASEID",
        "table": "Communications",
        "options": {
          "filterByFormula": "AND({Lead_ID}='{{$node[\"Webhook Trigger\"].json.body.leadId}}', {Direction}='Inbound', IS_AFTER({Created}, '{{$node[\"Webhook Trigger\"].json.body.timestamp}}'))"
        }
      },
      "name": "Check for Reply",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [850, 300],
      "credentials": { "airtableApi": { "id": "YOUR_AIRTABLE_ID", "name": "Airtable Account" } }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{$json.length > 0}}",
              "value2": true
            }
          ]
        }
      },
      "name": "Replied?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1050, 300]
    },
    {
      "parameters": {
        "fromEmail": "agent@nexus-os.com",
        "toEmail": "listing-agent@mls.com",
        "subject": "=Cancellation: Showing at {{$node[\"Webhook Trigger\"].json.body.address}}",
        "text": "Apologies, my client had an emergency and could not make the showing. We have vacated the time slot."
      },
      "name": "Email: Professional Apology",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1250, 400],
      "credentials": { "smtp": { "id": "YOUR_SMTP_ID", "name": "SMTP Account" } }
    },
    {
      "parameters": {
        "operation": "update",
        "baseId": "appYOURBASEID",
        "table": "Showings",
        "id": "={{$node[\"Webhook Trigger\"].json.body.showingId}}",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "Canceled",
            "No_Show_Reason": "No reply to recovery SMS"
          }
        }
      },
      "name": "Update Status: Canceled",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [1450, 400],
      "credentials": { "airtableApi": { "id": "YOUR_AIRTABLE_ID", "name": "Airtable Account" } }
    },
    {
      "parameters": {
        "message": "=Lead {{$node[\"Webhook Trigger\"].json.body.leadName}} replied to No-Show recovery. RESUME MANUAL CONTROL.",
        "channel": "agent-alerts"
      },
      "name": "Slack: Alert Agent",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 1,
      "position": [1250, 200],
      "credentials": { "slackApi": { "id": "YOUR_SLACK_ID", "name": "Slack" } }
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "Twilio: Everything Okay?", "type": "main", "index": 0 }]] },
    "Twilio: Everything Okay?": { "main": [[{ "node": "Wait 30 Mins", "type": "main", "index": 0 }]] },
    "Wait 30 Mins": { "main": [[{ "node": "Check for Reply", "type": "main", "index": 0 }]] },
    "Check for Reply": { "main": [[{ "node": "Replied?", "type": "main", "index": 0 }]] },
    "Replied?": {
      "main": [
        [{ "node": "Slack: Alert Agent", "type": "main", "index": 0 }],
        [{ "node": "Email: Professional Apology", "type": "main", "index": 0 }]
      ]
    },
    "Email: Professional Apology": { "main": [[{ "node": "Update Status: Canceled", "type": "main", "index": 0 }]] }
  }
}
