workflows/voice-offer-automation.json

{
  "name": "Voice to Contract Automation (Workflow 145)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "trigger-voice-offer",
        "options": {}
      },
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://api.openai.com/v1/audio/transcriptions",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{ \"model\": \"whisper-1\" }"
      },
      "name": "OpenAI Whisper: Transcribe",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [450, 300],
      "credentials": { "httpHeaderAuth": { "id": "OPENAI_KEY", "name": "OpenAI API" } }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gemini-3-pro-preview",
          "mode": "list"
        },
        "prompt": "=You are a Real Estate Contract Assistant. Extract the following JSON from the text: { \"price\": number, \"address\": string, \"closing_days\": number, \"earnest_money\": number, \"inclusions\": string, \"inspection_days\": number }. If missing, set to 'null'.\n\nTranscription: {{$node[\"OpenAI Whisper: Transcribe\"].json.text}}",
        "options": {}
      },
      "name": "Gemini Pro: Extract Intent",
      "type": "n8n-nodes-base.googleGeminiChat",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": { "googlePalmApi": { "id": "YOUR_CREDENTIAL_ID", "name": "Google Gemini" } }
    },
    {
      "parameters": {
        "url": "https://api.pdf.co/v1/pdf/edit/add",
        "method": "POST",
        "jsonParameters": true,
        "options": {},
        "bodyParametersJson": "{\n  \"url\": \"https://nexus-os.com/templates/state_purchase_agreement.pdf\",\n  \"fields\": [\n    { \"name\": \"Offer_Price\", \"value\": \"{{$json.output.price}}\" },\n    { \"name\": \"Property_Address\", \"value\": \"{{$json.output.address}}\" },\n    { \"name\": \"Closing_Days\", \"value\": \"{{$json.output.closing_days}}\" }\n  ]\n}"
      },
      "name": "PDF.co: Fill Template",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300],
      "credentials": { "httpHeaderAuth": { "id": "PDF_CO_KEY", "name": "PDF.co" } }
    },
    {
      "parameters": {
        "operation": "create",
        "baseId": "appYOURBASEID",
        "table": "Offer_Drafts",
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Raw_Dictation": "={{$node[\"OpenAI Whisper: Transcribe\"].json.text}}",
            "Parsed_Price": "={{$node[\"Gemini Pro: Extract Intent\"].json.output.price}}",
            "Generated_PDF_URL": "={{$json.url}}",
            "Status": "Draft"
          }
        }
      },
      "name": "Airtable: Store Draft",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 1,
      "position": [1050, 300],
      "credentials": { "airtableApi": { "id": "YOUR_AIRTABLE_ID", "name": "Airtable Account" } }
    }
  ],
  "connections": {
    "Webhook Trigger": { "main": [[{ "node": "OpenAI Whisper: Transcribe", "type": "main", "index": 0 }]] },
    "OpenAI Whisper: Transcribe": { "main": [[{ "node": "Gemini Pro: Extract Intent", "type": "main", "index": 0 }]] },
    "Gemini Pro: Extract Intent": { "main": [[{ "node": "PDF.co: Fill Template", "type": "main", "index": 0 }]] },
    "PDF.co: Fill Template": { "main": [[{ "node": "Airtable: Store Draft", "type": "main", "index": 0 }]] }
  }
}
